*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

header{
  background-color: #F0FFF0;
  height: 550px;
}

.navbar-brand{
  width: 200px;
}

.nav-item{
  padding-left: 15px;
} 

.navbar .nav-item .nav-link{
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.navbar .nav-item .nav-link:hover{
  color: #56548c;
}

.btn-custom{
  color: #fff;
  background-color: #21B573;
  border-radius: 33px;
  padding: 8px 25px;
}

.btn-custom:hover{
  color: #fff;
  background-color: #00703e;
}

.header_content{
  padding-top: 70px;
  padding-left: 40px;
}

.header_content h3{
  font-size: 16px;
  line-height: 24px;
  color: #FD511A;
  padding-bottom: 10px;
}

.header_content h1{
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #000;
  padding-bottom: 10px;
}

.header_content h1 span{
  color: #21B573;
}

.header_content h2{
  color: #000;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
}

.header_content a{
  font-size: 16px;
  line-height: 36px;
}

.btn-started{
  color: #fff;
  background-color: #21B573;
  text-transform: capitalize;
  padding: 5px 30px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
}

.btn-started:hover{
  color: #fff;
  background-color: #00703e;
}

.banner-img{
  padding-top: 50px;
  padding-left: 40px;
}

.feature_img-1{
  width: 66px;
  padding-bottom: 10px;
}
.feature_img-2{
  width: 80px;
  padding-bottom: 10px;
}
.feature_img-3{
  width: 75px;
  padding-bottom: 10px;
}
.feature_img-4{
  width: 68px;
  padding-bottom: 10px;
}

.feature_content{
  background-color: #F8FFFB;
  text-align: center;
  margin: 40px 15px;
  padding: 40px 0 30px;
  border-radius: 10px;
}

.feature_section .feature_content h3{
  color: #413960;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.feature_section .feature_content p{
  color: #585859;
  font-size: 16px;
  line-height: 24px;
}

.feature_content:hover{
  background-color: #fff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.courses{
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  padding: 24px 20px;
  margin: 0 10px;
}

.Online-courses{
  text-align: center;
}

.course_section img{
  width: 100%;
  margin-bottom: 18px;
}

.course_section .courses h1{
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.course_section .courses h6{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #585859;
}

.course_section .btn-buy{
  align-items: center;
  padding: 8px 28px;
  color: #FFFFFF;
  background: #21B573;
  border-radius: 33px;
  margin: 20px 0 35px 0;
}

.course_section .btn-buy:hover{
  background-color: #00703e;
}

.course_section ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.course_section ul li{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #585859;
}

.course_section ul li i{
  padding-right: 5px;
}

.testimonial_section{
  overflow: hidden;
  margin-bottom: 130px;
}

.testimonial_section h1{
  margin: 75px 0;;
}

.client{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.testimonial_section p{
  font-size: 16px;
  line-height: 30px;
}

footer{
  background-color: #282531;
  padding: 60px 0 25px;
}

footer p{
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}

footer h4{
  color: #fff;
  padding-bottom: 10px;
}
footer ul{
  text-transform: none;
  list-style: none;
  padding: 0;
}
footer ul li a{
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
}

footer ul li a:hover{
  color: #56548c;
}

.copyright{
  padding-top: 75px;
  overflow: hidden;
}